nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    background-color: darkgray;
}

nav ul li:hover{
    background-color: lightslategray;
}

#conatiner section> ul li{
    padding : 1rem;
    width: 70%;
    margin: 1rem auto;
    background-color: whitesmoke;
    text-align: left;
}

#conatiner section> ul li:hover{
    background-color: darkgrey;
}


